**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.pdb
**/*.suo
**/*.user
**/*.userprefs
**/*.xproj
**/*.config
**/*.rsuser
**/*.sln
**/*.suo
**/*.tmp
**/*.log
**/bin
**/changelog
**/Dockerfile*
**/logs
**/obj
**/publish
**/tmp
**/wwwroot/images
.vs
.vscode
.idea
*.user
*.secrets
.env
.env.*
!.env.example
**/appsettings.*.json
**/appsettings.json
**/Logs/
**/log/
