ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
ASPNETCORE_HTTPS_PORTS=8443

SQL_SERVER_HOST=localhost
SQL_SERVER_PORT=1433
SQL_SERVER_DATABASE=TicketManagementDB
SQL_SERVER_USER=sa
SQL_SERVER_PASSWORD=YourStrong@Password123